.row [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.2);
}

header {

}

body {
	margin-top: 2vw;
	background: #69e052;
}

.test1{
	margin-top: 4vw;
}