/web.config
/assets/images/Members/member_*.*
/assets/css/*
/assets/fonts/*
/assets/files/*
/assets/js/*
/assets/lib/*
/application/app_data/mail.server.json
/application/cache/*
/application/config/development/config.php
/application/config/development/database.php
/bower_components/*
/node_modules/*