body {
  background-color: #252830;
  color: #eeeeee;
}
body > .container-fluid > .row > .navbar {
  margin: 3% auto;
  width: 85%;
}
body > .container-fluid > .row > .navbar > [class^="col-"] {
  padding: 1% 0;
}
body > .container-fluid > .row > .calendar {
  margin: 0 auto;
  width: 85%;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-month > .cal-row-head {
  background-color: #ffffff;
  color: #333333;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-month > .cal-month-box #cal-week-box {
  color: #000000;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-month > .cal-month-box .cal-day-tick {
  color: #333333;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-month > .cal-month-box .cal-day-today span[data-cal-date] {
  color: #333333;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-month > .cal-month-box .cal-day-weekend span[data-cal-date] {
  color: #987B43;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-month > .cal-month-box [class*="cal-row-fluid"]:hover span[data-cal-date] {
  color: #333333;
  font-size: x-large;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-year > .cal-year-box > div:hover span[data-cal-date] {
  color: #333333;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-year > .cal-year-box .cal-day-tick {
  color: #333333;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-week > .cal-week-box > .cal-row-head:hover > div > span {
  color: #333333;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-week > .cal-week-box > .cal-row-head:hover span[data-cal-date] {
  color: #987B43;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-day {
  color: #1EA076;
}
body > .container-fluid > .row > .calendar > mwl-calendar > .cal-context > mwl-calendar-day > .cal-day-box > .cal-row-head [class*="cal-cell"]:hover {
  background-color: #111111;
}
body > .container-fluid > .new-course {
  color: #252830;
}
body > .container-fluid > .new-course form > .modal-body > .container-fluid > .row > .upload > .drop-box {
  cursor: crosshair;
  border: 5px dashed #DDD;
  padding: 3vw 3vw;
}
body > .container-fluid > .new-course form > .modal-body > .container-fluid > .row > .upload > .drop-box.dragover {
  border: 5px dashed #00A9E7;
}
