body {
  background-color: #252830;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body > .wrapper > .navbar-inverse {
  border: 0;
  border-bottom: 1px solid;
  border-color: #434857;
}
body > .wrapper > .navbar-inverse > .container-fluid > .navbar-header > .navbar-toggle:hover,
body > .wrapper > .navbar-inverse > .container-fluid > .navbar-header > .navbar-toggle:focus {
  background-color: #eeeeee;
}
body > .wrapper > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li {
  color: #9d9d9d;
  cursor: pointer;
  line-height: 20px;
  padding: 10px 15px;
}
body > .wrapper > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li > select {
  background-color: #37424E;
  border: 0;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  height: inherit;
  margin-left: 5px;
  padding: 0 9px;
}
body > .wrapper > .navbar-inverse > .container-fluid > .navbar-collapse > .navbar-nav > li:hover {
  color: #ffffff;
}
body > .wrapper > .container-fluid {
  margin-top: 10vh;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block {
  color: #eeeeee;
  font-size: medium;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-topic {
  margin: 10px 0;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-topic > Label {
  color: #4E5466;
  margin-bottom: 0;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-section {
  margin: 10px 0;
  padding: 10px 15px;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-section > button {
  background-color: inherit;
  border: inherit;
  border-radius: 4px;
  text-align: inherit;
  width: 100%;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-section > i {
  margin-left: 6px;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-section > select {
  background-color: #37424E;
  border: 0;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  height: inherit;
  margin-left: 5px;
  padding: 0 9px;
}
body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-section:hover {
  background-color: #1E2127;
  color: #1997C6;
}
body > .wrapper > .container-fluid > .row > .main > .embed-close {
  color: #ffffff;
  background-color: #646564;
  margin-bottom: 1vw;
}
body > .wrapper > .container-fluid > .row > .main > .embed-close:hover {
  background-color: #1E2127;
}
body > .wrapper > .container-fluid > .row > .main > .embed-responsive-4by3 {
  padding-bottom: 100vh;
}
body > .wrapper > .container-fluid > .row > .main > .overview {
  color: #ffffff;
  padding: 0 5vw;
}
body > .wrapper > .container-fluid > .row > .main > .overview > .row {
  margin-bottom: 5vh;
}
body > .wrapper > .container-fluid > .row > .main > .overview > .row > [class^="col"] > img {
  width: 95%;
}
body > .wrapper > #modal-success > .modal-dialog > .modal-content {
  background-color: #252830;
}
body > .wrapper > #modal-success > .modal-dialog > .modal-content > .modal-header > h4 {
  font-weight: bold;
}
body > .wrapper > #modal-success > .modal-dialog > .modal-content > .modal-body {
  color: #ffffff;
}
@media (min-width: 768px) {
  body > .wrapper > .container-fluid > .row {
    margin-left: 50px;
  }
  body > .wrapper > .container-fluid > .row > .side-bar-left > .menu-block > .menu-section > label {
    margin-top: 25px;
  }
}
