.wrapper {
  background-color: #252830;
}
.wrapper > .navbar-inverse > .container-fluid > .navbar-header > .navbar-toggle:hover,
.wrapper > .navbar-inverse > .container-fluid > .navbar-header > .navbar-toggle:focus {
  background-color: #eee;
}
.wrapper > .container-fluid > .row {
  height: 800px;
}
.wrapper > #modal-success > .modal-dialog > .modal-content {
  background-color: #252830;
}
.wrapper > #modal-success > .modal-dialog > .modal-content > .modal-header > h4 {
  font-weight: bold;
}
.wrapper > #modal-success > .modal-dialog > .modal-content > .modal-body {
  color: #ffffff;
}
@media (min-width: 768px) {
  .wrapper > .navbar-inverse {
    border-radius: 0;
  }
}
