body {
  background-color: #252830;
}
body > .container-fluid > .row {
  font-family: monospace, Courier New, Courier;
}
body > .container-fluid > .row > .col-sm-4 > .panel {
  border: 1px solid #9d9d9d;
  border-radius: 0;
  color: #ffffff;
}
body > .container-fluid > .row > .col-sm-4 > .panel > .panel-heading {
  background-color: #252834;
  border-radius: 0;
  cursor: pointer;
}
body > .container-fluid > .row > .col-sm-4 > .panel > .panel-heading:hover {
  background-color: #1E2127;
}
body > .container-fluid > .row > .col-sm-4 > .panel > .panel-body {
  background-color: #51586A;
}
body > .container-fluid > .row > .col-sm-4 > .panel > .panel-body:hover {
  background-color: #1E2127;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}
body > .container-fluid > .row > .col-sm-8 > .panel {
  background-color: #252830;
  font-family: serif;
}
body > .container-fluid > .row > .col-sm-8 > .panel > .panel-body > form > textarea {
  color: #ffffff;
  background-color: #3A3738;
  height: 50vh;
}
body > .container-fluid > .row > .col-sm-8 > .panel > .panel-footer {
  background-color: #252830;
  border-top: 0;
}
body > .container-fluid > .row > .col-sm-8 > .panel > .panel-footer > .btn {
  background-color: #252830;
  border-color: #5FD9B0;
  color: #5FD9B0;
  font-weight: bold;
}
body > .container-fluid > .row > .col-sm-8 > .panel > .panel-footer > .btn:hover {
  background-color: #5FD9B0;
  color: #252830;
}
