body {
	padding-top: 70px;
	
	> section {
		min-height: 600px;
		
		&#aboutus {
			padding-top: 20vh;
			
			> .container-fluid {
				> .jumbotron {
					background-color: transparent;
					
					> h1 {
						font-weight: bold;
					}
					
					> p {
						font-weight: bold;
					}
				}
			}
		}
		
		&#courses {
		}
		
		&#teacher {
		}
	}
}