body {
  padding-top: 70px;
}
body > header > nav > .container > .navbar-header > .navbar-brand {
  font-weight: bold;
}
body > header > nav > .container > .navbar-collapse > ul > li.active > a {
  color: #DD5145;
  border-bottom: 2px solid #DD5145;
}
body > header > nav > .container > .navbar-collapse > ul > li > a {
  font-weight: bold;
}
body > section {
  min-height: 600px;
}
body > section#aboutus {
  padding-top: 20vh;
}
body > section#aboutus > .container-fluid > .jumbotron {
  background-color: transparent;
}
body > section#aboutus > .container-fluid > .jumbotron > h1 {
  color: #ffffff;
  font-weight: bold;
}
body > section#aboutus > .container-fluid > .jumbotron > p {
  color: #ffffff;
  font-weight: bold;
}
body > section#courses {
  background-color: rgba(255, 211, 69, 0.750784);
  padding-top: 10vh;
}
body > section#courses > .container > .jumbotron {
  background-color: transparent;
}
body > section#courses > .container > .jumbotron > h1 {
  color: #ffffff;
  font-weight: bold;
}
body > section#courses > .container > .jumbotron > p {
  color: #ffffff;
  font-weight: bold;
}
body > section#courses > .container > .row > [class^="col-"] > .panel {
  border: 0;
}
body > section#courses > .container > .row > [class^="col-"] > .panel > .panel-heading {
  border: 0;
}
body > section#courses > .container > .row > [class^="col-"] > .panel > .panel-heading * {
  font-weight: bold;
}
body > section#courses > .container > .row > [class^="col-"] > .panel > .panel-body {
  background-color: #252526;
  color: #ffffff;
}
body > section#courses > .container > .row > [class^="col-"] > .panel > .panel-body * {
  font-weight: bold;
}
body > section#courses > .container > .row > [class^="col-"]:nth-child(1) > .panel > .panel-heading {
  background-color: #DB5425;
  color: #fff;
}
body > section#courses > .container > .row > [class^="col-"]:nth-child(2) > .panel > .panel-heading {
  background-color: #7493EA;
  color: #fff;
}
body > section#teacher {
  background-color: rgba(255, 255, 255, 0.800784);
  padding-top: 10vh;
  padding-bottom: 10vh;
}
body > section#teacher > .container > .jumbotron {
  background-color: transparent;
}
body > section#teacher > .container > .jumbotron > h1 {
  font-weight: bold;
}
body > section#teacher > .container > .jumbotron > p {
  font-weight: bold;
}
body > section#teacher > .container > div > .media > .media-left > .media-object {
  max-width: 20vw;
}
body > section#contactus {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
body > section#contactus > .container > .jumbotron {
  background-color: transparent;
}
body > section#contactus > .container > .jumbotron > h1 {
  color: #ffffff;
  font-weight: bold;
}
body > section#contactus > .container > .jumbotron > p {
  color: #ffffff;
  font-weight: bold;
}
body > section#contactus > .container > form.row > div > input {
  height: 7vh;
  margin-bottom: 3vh;
}
body > section#contactus > .container > form.row > div > button {
  background-color: #BB0000;
  color: #ffffff;
  margin-top: 3vh;
  width: 100%;
}
body > section#contactus > .container > form.row > div > textarea {
  height: 27vh;
}
body > section > .modal#send-email-success .modal-header {
  background-color: #007ACC;
}
body > section > .modal#send-email-success .modal-header > .modal-title {
  color: #fff;
  font-weight: bold;
}
body > section > .modal#send-email-failure .modal-header {
  background-color: #DE5145;
}
body > section > .modal#send-email-failure .modal-header > .modal-title {
  color: #fff;
  font-weight: bold;
}
@media (min-width: 768px) {
  body > section#contactus > .container > form.row > div > input:nth-last-child(1) {
    margin-bottom: 0;
  }
}
