body {
  padding-top: 70px;
}
body > section {
  min-height: 600px;
}
body > section#aboutus {
  padding-top: 20vh;
}
body > section#aboutus > .container-fluid > .jumbotron {
  background-color: transparent;
}
body > section#aboutus > .container-fluid > .jumbotron > h1 {
  font-weight: bold;
}
body > section#aboutus > .container-fluid > .jumbotron > p {
  font-weight: bold;
}
