body .modal-dialog {
}

body .modal-dialog > .modal-content {
	background-color: #252830;
}

body .modal-dialog > .modal-content > .modal-body {
	color: #eeeeee;
}

body .modal-dialog > .modal-content > .modal-header > h4 {
	color: #eeeeee;	
}

.col-lg-6 > .panel > div {
	background-color: #3A3738;
}

.col-lg-6 > .panel > div > h3 {
	color: #eeeeee;
}

.col-lg-6 > .panel > div >li {
	background-color: #3A3738;
}

body .modal-dialog > .modal-content > .modal-body > form > .row > .col-lg-6 > table > tbody >tr:hover {
  background-color: #1e2127;
  color: #1997c6;
}

.col-lg-6 > .panel > div >li:hover {
  background-color: #1E2127;
  color: #987B43;
}

a {
	color: #eeeeee;
}


